__pycache__
.venv
LaBiblia.txt
text1.txt
text2.txt
text3.txt
text4.txt
text5.txt
analisis.py
run.bat
runp.bat
comprimido.elmejorprofesor
comprimidop.elmejorprofesor
descomprimido-elmejorprofesor.txt
descomprimidop-elmejorprofesor.txt